$container-width: 500px;
$container-background-color: #FFFFFF;
$container-border-color: #E2E2E2;
$container-border-radius: 8px;


/* HEADER */
$header-background-color: #FFFFFF;

$header-average-color: #6A6A6A;
$header-info-color: #A3A3A3;
$header-star-size: 50px;
$header-star-space: 5px;
$header-star-background-color: #EEEEEE;
$header-star-color: #46DBAA;
$header-star-inactive-color: #D4D4D4;
$header-star-font-size: 25px;

/* CONTENT */
$content-color: #F3F3F3;

$content-star-size: 27px;
$content-star-space: 5px;
$content-star-background-color: #EEEEEE;
$content-star-color: #46DBAA;
$content-star-inactive-color: #D4D4D4;
$content-star-font-size: 15px;

$footer-background-color: #FFFFFF;


$good-gradient: #FFF;
$average-gradient: #FFF;
$bad-gradient: #FFF;
